@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
$black: #69665c;
$grey: #b2afa1;
$yellow: #fff9de;
$white: #fff;
$blue: #d1e5f7;
$green: #daf2d6;
$red: #ffcece;
$purple: #d2ceff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

/* XL devices (default) */

.app-container {
  width: 92%;
  max-width: 1100px;
  margin: 20px auto;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  color: $black;
  font-size: 34px;
  font-weight: 500;
}

.add-todo-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.add-todo-btn-svg {
  fill: $black;
  width: 32px;
  height: 32px;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  /* ...code... */
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  /* ...code... */
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  /* ...code... */
}
